<nav class="navbar navbar-expand-lg bg-body-tertiary"  >
    
    <div class="container-fluid">
      <img src="../../../assets/images/left.jpg" alt="" width="100" height="50" >
      <a class="navbar-brand" href="#">Art of India</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="artforms">ART FORM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">LOGIN</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="signup">SIGNUP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">CONTACT US </a>
          </li>


          
         
        </ul>
      </div>
    </div>
  </nav>
